<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/public/css/">
</head>
<body>

  <%- nav %>

  <main class="login-container">

    <h1><%= title %></h1>

    <% if (flash) { %>
      <div class="flash"><%= flash %></div>
    <% } %>

      <form action="/account/login" method="post" class="login-form">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit" class="login-btn">LOGIN</button>
    </form>

    <p class="signup-text">
      No account? <a href="/account/register">Sign-up</a>
    </p>

  </main>

</body>
</html>
