<% const d = new Date()
let year = d.getFullYear() %>
<footer class="site-footer" role="contentinfo">
  <div class="container footer-inner">
    <p>© 2025 CSE Motors. All rights reserved.</p>
  </div>
</footer>
