<%- include("../partials/header.ejs") %>

  <main>
    <h1>Oops! Something went wrong.</h1>
    <h2>Status: <%= status %></h2>
    <p><%= message %></p>

    <a href="/">Return to Home</a>
  </main>

<%- include("../partials/footer.ejs") %>

